<div id="about" class="about">
    <h2 class="about__title">About</h2>

    <div class="about__container">
        <div #circle class="about__circle"></div>
        <img
                src="/main_photo.png"
                class="about__photo"
                alt="photo"
                #photo
                (click)="bounceEffect()"
        />

        <div class="about__info">
            <p>
                I am a Frontend Developer with over three years of commercial experience, specializing in
                creating dynamic and user-friendly web applications using modern technologies like Vue.js,
                TypeScript, and Lit. Throughout my career, I have worked on diverse projects ranging from
                international trading platforms and online education tools to charity initiatives and
                cutting-edge monitoring solutions. My work focuses on delivering seamless user experiences
                by developing efficient features, optimizing performance, and maintaining high-quality
                code standards.
            </p>
            <p>
                Collaboration and continuous learning are at the heart of my approach. I thrive in Agile
                environments, actively participating in planning, code reviews, and technical discussions
                to ensure successful project outcomes. Outside of work, I enjoy expressing creativity
                through making silver jewelry, exploring new places while traveling, and immersing myself
                in music and books.
            </p>
        </div>
    </div>
</div>
